.scroll {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    height: 16rem;
    overflow: hidden;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

.content {
    height: 14rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem 16rem 16rem;
    gap: 2.2rem;
    justify-content: start;
    justify-items: center;
    transition: all .3s;
}

.leftbutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4rem;
    font-size: 5rem;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.leftbutton div {
    opacity: .3;
    font-size: 6rem;
    color: var(--main-color);
    margin-bottom: .8rem;
    margin-right: 1rem;
    cursor: pointer;
    user-select: none; /* Standard */
    transition: all .3s;
}

.leftbutton div:hover {
    opacity: .9;
    transition: all .3s;
}

.rightbutton {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.rightbutton div {
    opacity: .3;
    font-size: 6rem;
    color: var(--main-color);
    margin-bottom: .8rem;
    margin-left: 1rem;
    cursor: pointer;
    user-select: none; /* Standard */
    transition: all .3s;
}

.rightbutton div:hover {
    opacity: .9;
    transition: all .3s;
}

@media only screen and (max-width: 1300px) {
    .scroll {
        display: none;
    }
}

