.scroll {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 16rem;
    overflow: hidden;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 16rem;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    grid-template-rows: 16rem;
    gap: 3.5rem;
    justify-content: center;
    justify-items: center;
    transition: all .3s;
}

@media only screen and (max-width: 1919px) {
    .content {
        grid-template-columns: 20rem 20rem 20rem !important;
    }
}

@media only screen and (max-width: 1300px) {
    .scroll {
        display: none;
    }
}

