.scroll {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    grid-template-rows: 16rem;
    gap: 3.5rem;
    justify-content: center;
    justify-items: center;
    transition: all .3s;
}

@media only screen and (max-width: 1919px) {
    .content {
        grid-template-columns: 20rem 20rem 20rem !important;
    }
}

@media only screen and (max-width: 1200px) {
    .content {
        grid-template-columns: 17rem 17rem 17rem !important;
        gap: .5rem !important;
    }
}

@media only screen and (max-width: 1000px) {
    .content {
        grid-template-columns: 20rem 20rem !important;
        gap: 1.5rem !important;
    }

}

@media only screen and (max-width: 700px) {
    .content {
        grid-template-columns: 16rem 16rem !important;
        grid-auto-rows: 14rem !important;
        gap: 1.5rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}





