.headerMenu {
    width: 100vw;
    height: 16rem;
    background-color: var(--secondary-color);
    border-top: solid 1px var(--secondary-color-light);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1000;
    transition: all 1s;
}

.right {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.left {
    height: 100%;
    width: 2rem;
    border-right: solid 1px var(--secondary-color);
    background-color: var(--main-color);
    background-image: linear-gradient(rgba(207,92,54,.98), rgba(207,92,54,.98)), url('../../../../media//back.jpg');
}

.shadowback {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    pointer-events: none
}
